nav {
  height: 68px;
  vertical-align: baseline;
  background-image: linear-gradient(#000000, #141414);
}

.logo,
.navbar-brand {
  color: #ffffff;
  display: flex;
  top: 0;
  font-size: 40px;
}

.logo {
  position: fixed;
  padding: 0.6rem 1rem;
}
