body {
  background-color: #000000;
  height: 100%;
}
body::after {
  content: "";
  background-image: url(./assets/images/spilled-popcorn-on-a-red-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
